*
{
    margin: 10px;
}
body
{
    background: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    text-align: justify;
}
header
{
    display: flex;
    height: 50px;
    margin-top: 1em ;
}
header img
{
    float: left;
    width: min-content;
    margin-top: 0px;
    flex: 0;
}
header nav 
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    flex: 1;
    text-align: right;
} 
header nav a
{
    text-decoration:none;
    color: black;
}
header nav a:hover
{
    color: #0065FC;
}
header ul
{
    width: 200px;
    display:flex ;
    right: 1%;
    bottom:80%;
    top: 0em;
    text-decoration: none;
    padding-right: 90px;   
}
header li 
{
    display: inline;
    height: auto;
    margin-right: 50px;
}
.navigation
{
    display: column;

}
.navigation h1
{
    width: 500px;
    font-size: medium;
}
.navigation p
{
    width: 400px;
    font-size: small;
}
.inputSearch
{
width: 180px;
height: 34px;
border: none;
}
.inputSearch:focus
{ 
    outline: none; 
}
.button
{
    background-color:#0065FC;
    color: white;
    width: 100px;
    height: 2em;
    margin-bottom: 15px;
    margin-left: -15px;
    height: 35px;
    border-top-right-radius : 11px;
    border-bottom-right-radius: 11px;
    border: 1px solid #0065FC;
    border-left: transparent;
}   
.filtre
{
    display: flex;
    justify-content: flex-start;

}
.filtreButton
{
    display: flex;
    margin: 0%;
    margin-left: 1px;
    gap: 5px;
    
}
.filtreButton i
{
    margin-top: 1%;
    margin-right: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(194, 216, 235);
    color:#0065FC;
}
.filtreButton button 
{
    margin-top: 0%;
    border:none;
    background: none;
}
.filtre button:hover
{
    color:rgb(29, 149, 247);
}
.infoIcone i
{
    color: #0065FC;
    border-radius: 100%;
    border: #F2F2F2 solid 1px ;
}
.h2titre
{
    margin-bottom: 0px;
}
.hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.blochebergement
{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.blochebergement img
{
    width: 190px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blochebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);   
}
.textehebergement h3
{
    display: flex;
    width: 180px;
}
.etoiles
{
    display: inline;
}
.etoiles ul
{
 display: flex;
 margin-left: 0%;
 padding-left: 0%;
 font-size: 12px;
 align-items: flex-start;
}
.etoiles li
{
    list-style-type: none;
    width: 0%;
}
footer
{
    display: flex;
    justify-content: flex-start

}
footer h2
{
    text-align:;
}
footer nav
{
width: 250px;
margin: 0;
padding: 0;
margin-right: 10em;
}
footer nav a
{
    text-decoration: none;
    color: black;
}
footer nav ul
{
    
    list-style-type: none; 
    padding-left: 0;
    margin-left: 0;
}
footer nav li
{
    margin-left:0 ;

}
footer nav a:hover
{
    color:rgb(29, 149, 247) ;
}
