*
{
    margin: 10px;
}
body
{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    text-align: justify;
    margin: 0px;
    color: black;
}
.blocenTete
{
    display: flex;

}
.logoBooki
{
    float: left;
    width: 120px;
}
.menuNavigation
{
    display: flex;
    align-self: center;
    justify-content: right;
    flex: 1;
    gap: 40px;
} 
.texteNavigation
{
    text-decoration:none;
    color: black;
}
.texteNavigation:hover
{
    color: #0065FC;
}
.texteAccroche
{
    display: flex;
    flex-direction: column;
}
.titreH1
{
    width: 500px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sousTitreh1
{
    width: 400px;
    font-size: small;
    margin-top: 0%;
    margin-bottom: 0%;
}
.inputSearch
{
width: 180px;
height: 34px;
border: none;
}
.inputSearch:focus
{ 
    outline: none; 
}
.buttonSearch
{
    background-color:#0065FC;
    color: white;
    width: 100px;
    height: 2em;
    margin-bottom: 15px;
    margin-left: -15px;
    height: 35px;
    border-top-right-radius : 11px;
    border-bottom-right-radius: 11px;
    border: 1px solid #0065FC;
    border-left: transparent;
}   
.blocParentfiltre
{
    display: flex;
    gap: 15px;
    width: fit-content;
}
.filtretitre
{
   display: flex;
   font-size: 16px;
   margin-top: 7px;
}
.filtreButton
{
    display: flex;
    align-items: center;
    margin: 0%;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 30px 30px 30px 30px;
    border-left: 1px solid #DEEBFF;
    height: 30px;
}
.filtreButtonicons
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #DEEBFF;
    color:#0065FC;
    margin: 0px;
}
.filtreButtonname
{
    
    text-decoration: none;
    color: black ;
    font-weight: bolder;
    font-size: 14px;
}
.filtreButtonname:hover
{
    color:rgb(29, 149, 247);
}
.infoIcone
{
    display: flex;
    margin: 1px;
    
}
.infoIcone i
{
    color: #0065FC;
    border-radius: 100%;
    border: #DEEBFF solid 1px ;
    font-size: 9px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 8px;
    margin-right: 0%;
}
.titreH2
{
    margin-left: 25px;
    font-weight: bold;
}
.hebergementPopulaire
{
    display: flex;
    gap: 20px;

}
.hebergements
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#F2F2F2;
    width: 900px;
    height: 650px;
    gap: 15px;
}
.blocParenthebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    
}
.blochebergement
{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    box-shadow: #e4e1e1 0px 1px 0px;
    border-radius: 25px 25px 25px 25px;
}
.blochebergement img
{
    width: 190px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0%;
}
.blochebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: #e4e1e1 0px 5px 0px;   
}
.blocTextes
{
    display: flex;
    flex-direction: column;
    width: 210px;
}
.titresHebergement
{
    font-weight: bold;
    margin-bottom: 0%;
}
.nuitHebergement
{
    margin-bottom: 0%;
    margin-top: 3px;
}
.etoiles
{
    display: flex;
    margin: 0%;
}
.etoiles i
{
    width: 0%;
    margin: 7px;
}
.afficher
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.Populaire
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}
.blocPop
{
    display: flex;
    color: black;
    box-shadow: #e4e1e1 0px 1px 0px;
    border-radius: 25px 25px 25px 25px;
}
.blocPopimg
{
    width: 120px;
    height: 118px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.blocPoptexte
{
    width: 160px;
    font-size: 12px;
}
.blocPop:hover
{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: #e4e1e1 0px 5px 0px;   
}
.Activités
{
    display: flex;
    
}
.blocActivités
{
    display: flex;
    flex-direction: column;
}
.imageActivités
{
    width: 280px;
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.imageActivités1
{
    width: 280px;
    height: 288px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.texteActivités
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.blocActivités:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.footer
{
    display: flex;
    
}
.blocFooter
{
    width: 500px;
    display: flex;
    flex-direction: column;
    
}
.titreFooter
{
    font-weight: bolder;
    margin: 3px;
}
.texteFooter
{
    text-decoration: none;
    color: black;
    margin: 3px;;
}
.texteFooter:hover
{
    color: #0065FC;
}
@media screen and (max-width:992px)
{
    *
    {
        width: auto;
    }
}
@media screen and (width:768px)
{
    *
    {
        width: auto;
    }
}
@media screen and (max-width:768px)
{
    *
    {
        width: auto;
    }    
}